body{
    font-family: STIXGeneral, Arial, sans-serif ;
    font-size: 30px;
}

#title{
    float: left;
    clear: left;
    margin-top: 10px;
    margin-left: 20px;
}

#time{
    float: right;
    clear: right;
    margin-top: 10px;
    margin-right: 20px;
}

#imgshow{
    float: left;
    position: absolute;
    bottom: 5px;
    left: 5px;
    clear: both;
}

